<div class="row-fluid borBox well deep experience" style="position:relative;">
  <div class="span1">
    <div><%= experience.votes_point %></div>
    <div><%= button_to "Upvote", upvote_experience_path(experience), :method => :post %></div>
    <div><%= button_to "Downvote", downvote_experience_path(experience), :method => :post %></div>
  </div>
  <div class="span4">
    <ul class="thumbnails">
      <li class="span4">
        <a href='<%= experience.url %>' class="thumbnail" target='_blank'>
          <%= image_tag experience.image %>
        </a>
      </li>
    </ul>
  </div>
  <div class="span7">
    <div class="">
      <%= link_to experience.url, :class => 'inverse', :style => '', :target => '_blank' do %>
        <h1><%= experience.title %></h1>
      <% end %>
    </div>
    <div>
      <%= raw experience.description %>
    </div>
    <div class="reviews borBox well trans">
      <%= render experience.reviews %>
      <%= render :partial => 'reviews/inline_new_review', :locals => {:experience => experience } %>
    </div>
  </div>
  <%= link_to "Edit", edit_experience_path(experience), :class => ['btn', 'edit'], :style => "position:absolute; top: 10px; right:10px;" %>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function () {
      $('a.edit').hide();
      $('.experience').hover(function () {
        $(this).children('a.edit').show();
      }, function () {
        $(this).children('a.edit').hide();
      });
    });
  </script>
<% end %>