<div data-toggle="collapse" data-target="#<%= review.id %>" style="position:relative;">
  <div style="cursor:pointer;">
    <h3>
      <%= image_tag review.user.picture_url, :size => '40x40' %>
      <%= review.user.name %>
    </h3>
  </div>
  <div id="<%= review.id %>" class="collapse">
    <div>
      <%= raw review.text %>
    </div>
    <% if review.image.present? %>
      <div class="row">
        <div class="span4 offset1">
          <ul class="thumbnails">
            <li class="span4">
              <%= image_tag review.image, :class => "thumbnail span4" %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <% if can_edit?(review) %>
    <%= link_to "Edit review", edit_experience_review_path(review.experience, review), :style => "position:absolute; top: 10px; right:10px;" %>
  <% end %>
  <hr/>
</div>
